node_modules*
.nodemonignore
public/javascripts/dist/*
migrations/.migrate

# Ignore built components
public/javascripts/app.css
public/javascripts/app.js
public/javascripts/sdk.css
public/javascripts/sdk.js
views/sections/homepage.html

cookies.txt
_notes.txt
/tmp
dump.rdb
newrelic_agent.log

npm-debug.log
coverage
.DS_Store
.bash_history
.cache
.dbshell
.mongorc.js
.viminfo
.vagrant
id_rsa*
.idea/
*.pyc
